<div id="conteudo">
<style media="print">
  .botao
  {
    display: none;
  }
</style>

  <br/>
    <h1 align="center">Relatório Grupos</h1>
  <br/>
  <p>
    <a href="javascript:window.print();">Imprimir</a>
    
  <div class="botao">
   <table width="100%">
      <tr>
        <td width="50%"></td>
        <td width="50%" align="right">
          <% form_tag grupos_path, :method => 'get' do %>
           <p>
              <%= hinted_text_field_tag(:search, params[:search], "Nome do Grupo", :size => 30) %>
              <%= submit_tag "Filtrar", :name => nil %>
           </p>
          <% end %>
        </td>
      </tr>
    </table> 
   </div>

  <fieldset>
   <legend><font size=4>Grupos</font></legend>
   <table border ="1" cellpadding="5" cellspacing="1" width="60%" >
      <tr>
        <th bgcolor="#cccccc">Nome</th>
        <th bgcolor="#cccccc">Descricão</th>
      </tr>
      <% for grupo in @grupos %>
        <tr>
          <td><center><%=h grupo.nome %></center></td>
          <td><center><%=h grupo.descricao %></center></td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="#cccccc"><%= link_to '|Exibir', grupo %>
          <%= link_to '|Alterar', edit_grupo_path(grupo) %>
          <%= link_to '|Apagar|', grupo, :confirm => 'Tem certeza?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
   </fieldset>
  </p><br />
  | <%= link_to 'Cadastrar', new_grupo_path %> |
  <a href="javascript:window.print();">Imprimir</a>
  | <%= link_to ' Voltar' , root_path %> |
</div>
