<div id="conteudo">
  <br/>
    <h1 align="center">Relatório de Regiões </h1>
    
  <br/>
  <p>

   <a href="javascript:window.print();">Imprimir</a>

   <table width="100%">
      <tr>
        <td width="50%"></td>
        <td width="50%" align="right">
          <% form_tag regiaos_path, {:method => 'get', :action => 'search'} do %>
           <p>
              <%= hinted_text_field_tag(:search, params[:search], "Entre nome da criança", :size => 30) %>
              <%= submit_tag "Filtrar", :name => nil %>
           </p>
          <% end %>
        </td>
      </tr>
    </table>

  <fieldset>
   <legend><font size=4>Regiões</font></legend>
    <table border ="1" cellpadding="5" cellspacing="1" width="23%" >
     
      <tr>
        <th bgcolor="#cccccc">Nome</th>
      </tr>

      <% for regiao in @regiaos %>
       <tr>
        <td><%=h regiao.nome %></td>
       </tr>
       <tr>
         <td colspan="3" bgcolor="#cccccc">|<%= link_to 'Exibir', regiao %>
        |<%= link_to 'Alterar', edit_regiao_path(regiao) %>
        |<%= link_to 'Apagar', regiao, :confirm => 'Tem certeza?', :method => :delete %>|</td>
       </tr>
      <% end %>
    </table>
   </fieldset>
  </p>
  <p>
     <a href="javascript:window.print();">Imprimir</a>
  </p>
</div>
